%h1 Listing institutions
%table
  %tr
    %th Name
    %th Description
    %th Address
    %th
    %th
    %th
  - @institutions.each do |institution|
    %tr
      %td= institution.name
      %td= institution.description
      %td= institution.address
      %td= link_to 'Show', institution
      %td= link_to 'Edit', edit_institution_path(institution)
      %td= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Institution', new_institution_path
