<%= form_for(address) do |f| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :literal %><br />
    <%= f.text_field :literal %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :street_number %><br />
    <%= f.text_field :street_number %>
  </div>
  <div class="field">
    <%= f.label :corner_street_name %><br />
    <%= f.text_field :corner_street_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
