<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Literal</th>
    <th>Street name</th>
    <th>Street number</th>
    <th>Corner street name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.lat %></td>
    <td><%= address.lon %></td>
    <td><%= address.literal %></td>
    <td><%= address.street_name %></td>
    <td><%= address.street_number %></td>
    <td><%= address.corner_street_name %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
