<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @address.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @address.lon %>
</p>

<p>
  <b>Literal:</b>
  <%= @address.literal %>
</p>

<p>
  <b>Street name:</b>
  <%= @address.street_name %>
</p>

<p>
  <b>Street number:</b>
  <%= @address.street_number %>
</p>

<p>
  <b>Corner street name:</b>
  <%= @address.corner_street_name %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
