<h1>Listing accessible_places</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Accessibility type</th>
    <th>Name</th>
    <th>Extra info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accessible_places.each do |accessible_place| %>
  <tr>
    <td><%= accessible_place.address %></td>
    <td><%= accessible_place.accessibility_type %></td>
    <td><%= accessible_place.name %></td>
    <td><%= accessible_place.extra_info %></td>
    <td><%= link_to 'Show', accessible_place %></td>
    <td><%= link_to 'Edit', edit_accessible_place_path(accessible_place) %></td>
    <td><%= link_to 'Destroy', accessible_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accessible place', new_accessible_place_path %>
