<h1>Listing accessibility_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Organization link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accessibility_types.each do |accessibility_type| %>
  <tr>
    <td><%= accessibility_type.name %></td>
    <td><%= accessibility_type.description %></td>
    <td><%= accessibility_type.organization_link %></td>
    <td><%= link_to 'Show', accessibility_type %></td>
    <td><%= link_to 'Edit', edit_accessibility_type_path(accessibility_type) %></td>
    <td><%= link_to 'Destroy', accessibility_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accessibility type', new_accessibility_type_path %>
