.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data_toggle: 'collapse', data_target: '.navbar-collapse' }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to :root, class: 'navbar-brand' do
        = t('navbar.brand')
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: "#{ 'active' if current_page?(root_path) }" }
          = link_to t('navbar.home'), :root
        %li
          // Leave this close to the top for
          // people using screenreaders
          = link_to t('navbar.jump_to_content'), '#content'
        %li{ class: "#{ 'active' if current_page?(places_path) }" }
          = link_to t('navbar.places'), places_path
        %li{ class: "#{ 'active' if current_page?(contact_path) }" }
          = link_to t('navbar.contact'), contact_path
        %li{ class: "#{ 'active' if current_page?(about_us_path) }" }
          = link_to t('navbar.about_us'), about_us_path
        %li{ class: "#{ 'active' if current_page?(interesting_links_path) }" }
          = link_to t('navbar.interesting_links'), interesting_links_path
        %li
          = link_to t('navbar.bigger_font_size'), '#', class: 'enlarge-font'
        %li
          = link_to t('navbar.smaller_font_size'), '#', class: 'reduce-font'
