!!!
%html
  %head
    %title Montevideodetodos2
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = google_maps_api
    = csrf_meta_tags

  %body
    = render partial: 'layouts/navbar'
    #content.container
      .starter-template
        = yield
    #footer
      .container
        %p &iquest;Te parece interesante esta información? Mantente al tanto de los lugares con accesibilidad en Montevideo suscribiendote.
        = link_to 'Subscríbete aquí', subscriptions_path, class: 'btn'
